.assert {

	.icon {
	    background-image: url(../images/user_listmenu_icon.png);
	    background-position: 0px 0px;
	    background-repeat: no-repeat;
	    background-size: 24px;
	    display: block;
	    float: left;
	    height: 24px;
	    width: 24px;
	    margin-right: 12px;
	}

	@for $i from 1 to 8 {
		  .icon#{$i}{ 
		  	background-position: 0px -24*($i - 1)+px; 
		  }
	}



}