 .safepage { background-color:#ffffff; width:100%; overflow:hidden; padding-bottom:20px;}
 .safepage .img { font-size: 0px; line-height: 0px;}
 .safepage .img img { width:100%; height:auto;}
 .safepage .text { color:#6d6d6d; font-size:14px; padding:10px 15px 0px 15px;}
 .safepage .text h3 { color:#94b6df; font-size:16px; border:solid 1px #94b6df; border-radius:15px; display:inline-block; line-height:35px; height:35px; padding:0px 15px; margin-bottom:20px;}
 .safepage .text p { margin-bottom:20px;}
@media screen and (max-width:350px){
	 .safepage .text { font-size:12px;padding:5px 15px 0px 15px;}
	 .safepage .text h3 { font-size:14px; margin-bottom:15px;}
	 .safepage .text p { margin-bottom:15px;}
} 



.bankNorm .box { padding:10px 0px 0px 0px;}
.Cost .box { padding:0px 0px 0px 0px;}
 .bankNorm .fmenu { margin-bottom:0px;}
 .listbox { padding-bottom:15px;}
 .listbox table {table-layout:fixed;width:100%;line-height:1.5; /*border:1px solid #e6e6e6;*/ font-size:14px;}
 .listbox table th {padding:10px 0px;color:#434343;font-size:15px; text-align:center;border-bottom:1px solid #e1e1e1; font-weight:normal;}
 .listbox table td {border-bottom:1px solid #e1e1e1;padding:8px 0px; text-align:center;}
 .listbox table tr.last td { border-bottom:0px;}

 .listbox table th span { border-right:solid 1px #e1e1e1; display:block;}
 .listbox table th span.last { border-right:0px;}
 .tipsbox { text-align:center; padding-top:15px; padding-left:10px; padding-right:10px;}
 .tipsbox .tips {  background-position:left 1px; background-repeat:no-repeat; background-size:20px; padding-left:28px; color:#999999; margin:0px auto; display:inline-block; text-align:left; font-size:13px; line-height:22px;}
 .accordion {width: 100%;}
 .accordion dt, .accordion dd {border-bottom: 1px solid #e1e1e1;margin: 0px;}
 .accordion dt {background: #ffffff;cursor: pointer;padding: 10px 15px 10px 15px;font-size: 14px; color:#333333; position:relative;}
 .accordion dd {padding: 15px; background-color:#f7f7f7; color:#666666; line-height:24px;}
 .accordion dt em {  background-position:center center; background-repeat:no-repeat; background-size:16px auto; width:16px; height:16px; position:absolute; right:15px; top:13px;}
 .accordion dt.select em {}
 .accordion dt span.phoneNum { color:#999999; font-size:12px; padding-left:15px;}